    <div style="padding-top: 10px; color: #FFF;text-align:center; font-family:'Segoe UI Light'">
        Công ty TNHH Thương mại Dịch vụ Nhom 16 : 273 An Dương Vương , Phường 5 , Quận 5, TP.Hồ Chí Minh<br>
        Tel :  01285.001.888 ● Website: NHóm16.com <br>
        <br>
        <i>Website được thiết kế và phát triển bởi nhóm 16</i>
    </div>
   
    <div style="text-align:center">
       
    </div>